@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
}

.main-height {
  height: calc(100vh - 64px);
}

.logo-title {
  font-family: "Merriweather", Times, serif;
}
